[user]
	name          = Germán Freixinós López
	email         = 14282156+germanfrelo@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor        = code --wait
[diff]
	tool          = vscode
[difftool "vscode"]
	cmd           = code --wait --diff $LOCAL $REMOTE
[merge]
	tool          = vscode
[mergetool "vscode"]
	cmd           = code --wait $MERGED
[gpg]
	format        = ssh
[gpg "ssh"]
	program       = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign       = true
[alias]
	brename       = branch -m
	fpa           = fetch --prune --all
	l             = log --oneline --graph
	lall          = log --oneline --graph --all
	ls            = log --oneline --graph --stat
	lt            = log --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset'
	unstage       = restore --staged .
	stashu        = stash --include-untracked
	stat          = status -sb
